body {
    background: rgb(93,113,136);
    background: linear-gradient(180deg, rgba(93,113,136,1) 0%, rgba(31,43,79,1) 53%);
    background-repeat: no-repeat;
}

.logo {
    position: relative;
    left: 130px;
    top: 25px;
    margin:0 auto;
}

.nav {
    position: relative;
    left: 400px;
    bottom: 10px;
    font-family: "Inter", sans-serif; 
    font-style: normal; 
    color: #FFFFFF; 
    text-decoration: none;
}

.logo_phone {
    position: relative;
    margin:0 auto;
    left: 950px;
    bottom: 35px;
}